<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome To {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>My first application hosted on githtb </h2>
<h2>To Put Code on github</h2>
<ol>
  <li>Create new repository</li>
  <li>Open that local folder in cmd</li>
  <li>write <b>git init</b></li>
  <li>git status</li>
  <li>git add .</li>
  <li>git status</li>
  <li>git commit -m "first commit" .</li>
  <li>git status</li>
  <li>git remote add origin https://github.com/vikaskumar117/DemoProject.git</li>
  <li>git push -u origin master</li>
  <li>Then put the username and password of github.</li>
</ol>
<br/>
<br/>

<h2>To Publish</h2>
<ol>
  <li>npm i -g angular-cli-ghpages</li>
  <li>ng b --prod --base-href "https://vikaskumar117.github.io/DemoProject"</li>
</ol>